#wrap:hover #elemOne {
  fill: var(--yellow-color);
}

#wrap:hover #elemTwo {
  fill: var(--yellow-color);
}

.box {
  position: relative;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: auto;
}

.container:hover #elemTwo {
  fill: var(--yellow-color);
}

.container:hover #elemOne {
  fill: var(--yellow-color);
}
