.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 540px;
    >div{
        box-sizing: border-box;
        padding: 25px 40px;
    }
}

.smallPadding{
    padding: 18px 40px !important;
}

@media(max-width:500px){
    .list{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: unset;
    }
    .showMobileMenu{
        transform: translateY(0);
        bottom: 0;
        min-height: auto;
        top:0;
        overflow: auto;
      }
  }
