
.form{
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin-bottom: 200px;

    .title{
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0.065em;
        text-align: left;
        margin-bottom: 50px;
    }
    
    input, textarea{
        width: 100%;
        padding: 16px 20px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: none;

        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.065em;
        text-align: left;
        color: #6A7380;
        margin-bottom: 30px;

    }
    button{
        width: 100%;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.065em;
        text-align: center;
        color: #FA5C45;
        border: 2px solid #FA5C45;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 16px;
        background: transparent;
    }
}
