.wrapper{
    width: 100%;
    min-width: 323px;
    max-width: 323px;
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: min-content;
}
.title{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    text-align: left;
    color: #FA5C45;
    margin-bottom: 30px;
}
.tagsArea{
    margin-bottom: 40px;
}
.articleArea{
    margin-bottom: 70px;
}