.wrapper {
}
.listItem {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a7380;
}
.listItem:last-child {
  color: #fa5c45;
}
