.wrapper{
    margin-bottom: 50px;
    h3{
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;

        color: #309195;
        margin-bottom: 24px
    }
}
.content{
    padding: 23px;
    background: #FFFFFF;
    border-radius: 7.4965px;
}

.listItem{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29,44px;
    letter-spacing: 0em;
    text-align: left;
    color: #FA5C45;
    margin-bottom: 20px;
    margin-left: 15px;
}