.wrapper{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}
.text{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #6A7380;
    max-width: 97px;
}
.content{
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.065em;
    color: #FFCC00;
}