.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.breadcrumbsAndPriseWrapper {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 87px;
  padding-bottom: 98px;
  margin: 0 auto;
}
.priseAreaWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 620px;
  width: 100%;
}
.bottom {
  height: 52px;
  max-width: 285px;
  border: 2px solid var(--yellowBG-background);
  background-color: transparent;
  color: var(--yellow-color);
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.065em;
  text-align: center;
  padding: 16px 93px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--yellowBG-background);
    color: #fff;
  }
}

.mainSection {
  box-sizing: border-box;
  padding-bottom: 175px;

  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    letter-spacing: 0.065em;

    color: #3c424a;
  }
}

.secondSection {
  box-sizing: border-box;
  background: #ffffff;
  padding: 200px 0px;
}

.section {
  box-sizing: border-box;
  padding: 200px 0px;
}
