.wrapperCarouselMenu {
  z-index: 3;
  width: 517px;
  position: relative;
  margin-top: 13px;
}

.colorTop {
  content: " ";
  position: absolute;
  height: 12%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    0deg,
    rgba(251, 250, 250, 0) 9%,
    rgba(251, 250, 250, 0.9051995798319328) 39%
  );
  z-index: 1;
}

.colorBottom {
  content: " ";
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(251, 250, 250, 0) 0%,
    rgba(251, 250, 250, 0.7707457983193278) 5%
  );
  z-index: 1;
}

.itemMenu {
  display: flex !important;
  text-transform: uppercase;
  margin: 18px 23px;
  cursor: pointer;
  outline: none;
}

.itemMenu > a {
  text-decoration: none;
  color: var(--redColor-color);
}

.text {
  margin-left: 22px;
}

.arrow {
  position: absolute;
  top: 50%; 
  transform: translate(0, -50%); 
  left: -10px;
  z-index: 2;
  background-color: #ffffff;
}

@media (max-width: 1445px) {
  .wrapperCarouselMenu {
    width: 397px;
    margin-top: -60px;
  }
  .arrow {
    left: 0px;
  }
  .arrow > img {
    height: 18px;
  }
  .itemMenu {
    margin: 6px 23px;
  }
}

@media (max-width: 1366px) {
  .wrapperCarouselMenu {
    margin-right: 12px;
    margin-left: 64px;
  }
  .itemMenu {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 1050px) {
  .wrapperCarouselMenu {
    margin-left: 0px;
    margin-top: -46px;
  }
  .itemMenu {
    font-size: 10.5px;
    line-height: 13px;
    margin: 0 17px;
  }
  .text {
    margin-left: 9px;
  }
  .itemMenu > img {
    width: 5px;
  }
  .arrow {
    left: -4px;
  }
  .arrow > img {
    height: 17px;
  }
}

@media(max-width:950px){
  .wrapperCarouselMenu{
    margin-bottom: 98px;
  }
  .itemMenu{
    font-size: 18px;
    line-height: 22px;
    margin: 0 32px;
  }
  .itemMenu > img {
    width: 10px;
  }
  .arrow{
    left: -2px;
  }
  .arrow > img {
    height: 27px;
  }
  .colorTop{
    height: 33%;
  }
  .colorBottom{
    height: 33%;
  }
}
@media(max-width:750px){
  .wrapperCarouselMenu{
    width: 262px;
  }
  .itemMenu{
    font-size: 11px;
    line-height: 13px;
  }
  .itemMenu > img {
    width: 6px;
  }
  .arrow {
    left: 17px;
  }
  .arrow > img {
    height: 17px;
  }
}