.wrapperCarouselMenu {
  z-index: 3;
  width: 517px;
  position: relative;
  margin-top: 13px;
}

.colorTop {
  content: " ";
  position: absolute;
  height: 12%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.9051995798319328) 39%
  );
  z-index: 1;
}

.colorBottom {
  content: " ";
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7707457983193278) 5%
  );
  z-index: 1;
}

/* .wrapperCarouselMenu::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8911939775910365) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.87718837535014) 100%
  );
} */

.itemMenu {
  display: flex !important;
  text-transform: uppercase;
  margin: 18px 23px;
  cursor: pointer;
  outline: none;
}

.itemMenu > a {
  text-decoration: none;
  color: var(--redColor-color);
}

.text {
  margin-left: 22px;
}

.arrow {
  position: absolute;
  top: 190px;
  left: -10px;
  border-right: 20px solid #ffffff;
  z-index: 2;
  background-color: #ffffff;
}

/* _______________________________________________________*/

/* .wrap {
  overflow-y: hidden;
  height: 250px;
} */

@media (max-width: 1366px) {
  .wrapperCarouselMenu {
    margin-right: 12px;
    margin-left: 64px;
  }
  .itemMenu {
    font-size: 14px;
    line-height: 17px;
  }
}
