/* .slick-current::after {
  content: url(../../images/Vector.svg);
  position: relative;
  bottom: 45px;
  background: #ffffff;
  border: 4px solid #ffffff;
  z-index: 1;
} */

.slick-vertical .slick-slide {
  height: 60px;
}

.slick-current {
  font-weight: 600;
  margin-left: -22px;
  font-size: 18px;
}

.slick-current > div > div > img {
  display: none !important;
}
.slick-slide > div > div > img {
  padding-left: 1px;
}

.slick-slide {
  outline: none;
  letter-spacing: 0.065em;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@media(max-width:1445px){
  .slick-vertical .slick-slide {
    font-size: 14px;
    line-height: 17px;
    height: 51.5px;
  }
}
