/* .slick-current::after {
  content: url(../../images/Vector.svg);
  position: relative;
  bottom: 45px;
  background: #ffffff;
  border: 4px solid #ffffff;
  z-index: 1;
} */

header .slick-vertical .slick-slide {
  height: 60px;
}

header  .slick-current {
  font-weight: 600;
  margin-left: -22px;
  font-size: 18px;
}

header .slick-current > div > div > img {
  display: none !important;
}
header .slick-slide > div > div > img {
  padding-left: 1px;
}

header .slick-slide {
  outline: none;
  letter-spacing: 0.065em;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@media (max-width: 1445px) {
  header .slick-vertical .slick-slide {
    font-size: 14px;
    line-height: 17px;
    height: 51.5px;
  }
  header .slick-slider .slick-track, .slick-slider .slick-list {
      transform: translate3d(0, 13px, 0);
  }
}

@media (max-width: 1050px) {
  header .slick-list {
    padding: 120px 0px !important;
    height: 221.89px !important;
    box-sizing: border-box;
  }
  header .slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 13px, 0);
}
  header .slick-vertical .slick-slide {
    font-size: 10.5px;
    line-height: 13px;
    height: 34px;
  }
  header .slick-current > div > div > a > div {
    margin-left: 20px;
  }
}

@media (max-width: 950px){
  header .slick-list {
    padding: 0px 0px !important;
    height: 460px !important;
    box-sizing: border-box;
  }
  header .slick-vertical .slick-slide {
    height: 60px;
  }
  header .slick-track {
    transform: translate3d(0px, -155px, 0px) !important;
  }
  header .slick-current {
    margin-left: -5px;
  }
}

@media(max-width:750px){
  header .slick-list {
    height: 214px !important;
  }
  header .slick-vertical .slick-slide {
    height: 34px;
  }
  header .slick-track {
    transform: translate3d(0px, -82px, 0px) !important;
  }
}