/* .slick-current::after {
  content: url(../../images/Vector.svg);
  position: relative;
  bottom: 45px;
  background: #ffffff;
  border: 4px solid #ffffff;
  z-index: 1;
} */

.slick-vertical .slick-slide {
  height: 60px !important;
}

.slick-current {
  font-weight: 600;
  margin-left: -22px;
  font-size: 18px;
}

.slick-current > div > div > img {
  display: none !important;
}
.slick-slide > div > div > img {
  padding-left: 1px;
}

.slick-slide {
  outline: none;
  letter-spacing: 0.065em;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.slick-slide::before {
  /* content: url(../../images/circleMenu.svg);
  position: relative;
  bottom: 24px;
  z-index: -1; */
}

div.slick-slide.slick-active.slick-center.slick-current {
  /* display: none; */
}
