.boxOne {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid rgba(106, 115, 128, 0.27);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  background-color: var(--green-color);
  color: #ffff;
  padding: 0px 10px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
}

.box {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid rgba(106, 115, 128, 0.27);
}
