@import "../../assets/style/mixins";

.menu {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  @include fluidFontSize(14px, 18px, 1336px, 1920px, 14px);
  line-height: 22px;
  letter-spacing: 0.065em;
  color: var(--textTitle-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 585px;
  min-width: 470px;
  width: 31vw;
  position: relative;
  z-index: 100;
  visibility: visible;
}

.item {
  cursor: pointer;
  margin-top: 10px;
}

.active {
  color: var(--green-color);
}

.close {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(-50%, 0);
}

.close svg {
  cursor: pointer;
}

.close svg:hover rect {
  fill: #ffcc00;
}

.wrapper {
  position: absolute;
  top: 100px;
  background-color: #ffff;
  height: 710px;
  max-width: 1200px;
  width: 70vw;
}
.burgerMenu {
  display: none;
  padding-left: 20px;
  height: 30px;
  width: 50px;
  z-index: 10000000;

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    top: 40%;
    height: 3px;
    background: #3c424a;
    border-radius: 10px;
    transition: all 0.4s linear;
  }
  &::after {
    content: "";
    position: absolute;
    width: 26px;
    top: 40%;
    margin-top: 7px;
    height: 3px;
    background: #3c424a;
    border-radius: 10px;
    transition: all 0.4s linear;
  }
}

.burgerMenu.burgerMenuIsOpen {
  &:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    top: 50%;
    background: #3c424a;
    border-radius: 10px;
    transform: rotate(-45deg);
    box-shadow: none;
  }
  &:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    top: 50%;
    margin: 0;
    background: #3c424a;
    border-radius: 10px;
    transform: rotate(45deg);
    box-shadow: none;
  }
}

.menuTitleWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobileMenuWrapper {
  height: auto;
  position: fixed;
  background-color: #ffff;
  width: 100vw;
  left: 0;
  transition: all 1s;
  transform: translateY(-100%);
  min-height: 900px;
}

.showMobileMenu {
  transform: translateY(56%);
}

@media (max-width: 1366px) {
  .item {
    margin-top: 0px;
  }
  .wrapper {
    left: -15vw;
    width: 85vw;
  }
}

@media (max-width: 1050px) {
  .menu {
    min-width: unset;
    width: unset;
  }
  .menuTitleWrapper {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
}

@media (max-width: 925px) {
  .yellowButton {
    margin-right: 31px;
    align-items: flex-end;
  }
}

@media (max-width: 750px) {
}

@media (max-width: 500px) {
  .showMobileMenu {
    transform: translateY(0);
    bottom: 0;
    min-height: auto;
    top: 50px;
    overflow: auto;
  }
  .list {
    height: auto;
    flex-wrap: unset;
  }
}
