@import "../../assets/style/mixins";
.wrapper {
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    @include fluidFontSize(36px, 48px, 1336px, 1920px, 36px);
    @include fluidFontSize(30px, 36px, 320px, 1336px, 30px);
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.065em;
    color: #3c424a;
    margin-bottom: 50px;
  }
}
.graphWrapper {
  max-width: 360px;
  padding: 60px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  border: 3px solid transparent;
  width: 30%;
  .value {
    transition: width 4s;
    &.unsetWidth {
      width: 0% !important;
    }
  }
  &:last-child {
    border-color: #fa5c45;
    cursor: pointer;

    .value {
      background-color: #fa5c45;
    }
  }
}

.line {
  width: 100%;
  height: 2px;
  background: rgba(104, 104, 104, 0.1);
  margin-bottom: 10px;
}
.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  @include fluidFontSize(10.5px, 14px, 1336px, 1920px, 10.5px);
  line-height: 120%;
  /* identical to box height */

  color: #6a7380;
  margin-bottom: 34px;

  &.lastItem {
    margin-bottom: 0px;
  }
}

.value {
  height: 2px;
  background: #6a7380;
  transition: all 0.3s;
}
.areaWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.cardTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  @include fluidFontSize(13.5px, 18px, 1336px, 1920px, 13.5px);
  line-height: 120%;
  /* identical to box height */
  text-transform: uppercase;
  color: #6a7380;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .areaWrapper {
    flex-wrap: wrap;
  }
  .graphWrapper {
    max-width: unset;
    padding: 45px;
    &:nth-child(1),
    &:nth-child(2) {
      width: calc(50% - 25px);
      margin-bottom: 40px;
    }
    &:nth-child(3) {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .graphWrapper {
    max-width: unset;
    padding: 45px;

    & {
      width: 100% !important;
      margin-bottom: 40px !important;
    }
  }
}
