@import "../../assets/style/_mixins.scss";

.cost {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  @include fluidFontSize(13.5px, 18px, 1336px, 1920px, 13.5px);
  line-height: 110%;
  /* identical to box height */
  text-transform: uppercase;
  color: #3c424a;
}
.wrapper {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  @include fluidFontSize(12px, 16px, 1336px, 1920px, 12px);
  line-height: 110%;
  /* identical to box height */
  color: #6a7380;
}
@media (max-width: 750px) {
  .wrapper {
    padding-bottom: 36px;
  }
}
