@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

.cost {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: calcFluidFontSize(13.5, 18, 1336, 1920);
  line-height: 110%;
  /* identical to box height */
  text-transform: uppercase;
  color: #3c424a;
}
.wrapper {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: calcFluidFontSize(12, 16, 1336, 1920);
  line-height: 110%;
  /* identical to box height */
  color: #6a7380;
}
