.wrapper {
  max-width: 910px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 150px;
}
.item {
  box-sizing: border-box;
  position: relative;
  height: auto;
  max-height: 67.5px;
  border-radius: 10px;
  border: 2px solid #fa5c45;

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  padding: 33px 115px 10px 25px;
  margin-top: 10px;
  margin-right: 15px;
  color: #fa5c45;
  flex-grow: 1;

  &.active {
    padding-bottom: 54px;
    max-height: 545px;
    overflow: auto;
  }
}
.arrow {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 15px;
}
.listWrapper {
  margin-top: 30px;
}
.listItem {
  margin-left: 25px;
  margin-top: 20px;
}
.active {
  color: #3c424a;
  border-color: #3c424a;

  a:hover {
    color: #fa5c45 !important;
  }

  svg {
    transition: all 0.3s;
    transform: rotate(90deg);

    path {
      stroke: #3c424a;
    }
  }
}
