.text {
  z-index: 2;
}

.buttom {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 52px;
  background-color: var(--green-color);
  border-radius: 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  overflow: hidden;
  border: none;
  letter-spacing: 0.065em;
}

.buttom:hover .color {
  width: 294px;
}

.color {
  position: absolute;
  left: -4px;
  top: 0px;
  background-color: var(--yellowBG-background);
  width: 0px;
  height: 52px;
  transition: width 1s;
  transform: skew(30deg);
}

.noAnimation {
  display: none;
}

@media(max-width:1445px){
  .text{
    font-size: 12px;
    line-height: 15px;
  }
}
@media(max-width:950px){
  .text{
    font-size: 14px;
    line-height: 17px;
  }
}