@import "../../assets/style/mixins";
.text {
  z-index: 2;
}

.button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  max-width: 285px;
  min-width: 213px;
  height: 3vw;
  max-height: 52px;
  min-height: 39px;
  background-color: var(--yellowBG-background);
  border-radius: 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  @include fluidFontSize(14px, 18px, 1336px, 1920px, 14px);
  line-height: 22px;
  overflow: hidden;
  outline: none;
  border: none;
}

.button:hover .color {
  width: 110%;
}

.color {
  position: absolute;
  left: -4px;
  top: 0px;
  background-color: var(--green-color);
  width: 0px;
  height: 52px;
  transition: width 1s;
  transform: skew(30deg);
  transform: skew(30deg);
  transform: skew(30deg);
}

@media (max-width: 1050px) {
  .button {
    height: 47px;
  }
}

@media (max-width: 750px) {
  .button {
    width: 285px !important;
    padding: 0px;
  }
}
