.wrapperAboutUs {
  background-color: #ffffff;
  width: 100%;
  height: 749px;
  display: flex;
  flex-direction: row;
}

.photo {
  flex-wrap: wrap;
  display: flex;
  width: 749px;
  height: 749px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  white-space: break-spaces;
  margin: 0 auto;
  padding-right: 190px;
}

.box {
  border-left: 4px solid var(--yellowBG-background);
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: var(--textTitle-color);
  margin-bottom: 30px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: var(--textSubtitle-color);
  margin-left: 29px;
}
