@import "../../assets/style/mixins";

.wrapperAboutUs {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.photo {
  flex-wrap: wrap;
  display: flex;
  width: 750px;
  height: auto;
  > img {
    width: clamp(187.5px, 13vw, 250px);
    height: clamp(280px, 20vw, 375px);
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  white-space: break-spaces;
  margin: 0 auto;
  padding-right: 190px;
}

.box {
  border-left: 4px solid var(--yellowBG-background);
}

.title {
  font-style: normal;
  font-weight: bold;
  @include fluidFontSize(36px, 48px, 1336px, 1920px, 36px);
  line-height: 120%;
  letter-spacing: 0.065em;
  color: var(--textTitle-color);
  margin-bottom: 30px;
}

.text {
  font-style: normal;
  font-weight: normal;
  @include fluidFontSize(12px, 16px, 1336px, 1920px, 12px);
  line-height: 120%;
  letter-spacing: 0.065em;
  color: var(--textSubtitle-color);
  margin-left: 29px;
}

@media (max-width: 1700px) {
  .description {
    padding-right: 0;
  }
}
@media (max-width: 1445px) {
  .wrapperAboutUs {
    height: auto;
  }
  .description {
    justify-content: flex-start;
    width: 31%;
  }
  .photo {
    height: auto;
    max-width: 570px;
  }
  .photo > img {
    // width: 186.75px;
    // height: 281.25px;
  }
  .title {
    margin-top: 151px;
    margin-bottom: 23px;
  }
  .text {
    margin-left: 19px;
  }
  .box {
    border-left: 3px solid var(--yellowBG-background);
  }
}

@media (max-width: 1050px) {
  .title {
    margin-top: 19px;
  }
  .photo {
    max-width: 440px;
  }
  .photo > img {
    width: 140.56px;
    height: 210.83px;
  }
}

@media (max-width: 950px) {
  .photo {
    max-width: 320px;
  }
  .photo > img {
    width: 160px;
    height: 241px;
  }
  .title {
    margin-top: clamp(50px, 13vw, 130px);
  }
  .description {
    width: 44%;
    padding-right: 0px;
    padding-left: clamp(10px, 11vw, 84px);
    margin: 0;
  }
  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 660px) {
  .wrapperAboutUs {
    flex-direction: column-reverse;
  }
  .description {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .box {
    border-left: none;
    margin-bottom: 30px;
  }
  .title {
    margin-top: 50px;
    font-size: 30px;
    line-height: 37px;
  }
  .text {
    margin-left: 0;
    font-size: 13px;
    line-height: 16px;
  }
  .photo {
    overflow-x: auto;
    padding: 0 20px;
    flex-wrap: nowrap;
    width: 100%;
    max-width: max-content;
    box-sizing: border-box;
  }
  .photo > img {
    width: 139px;
    height: 211px;
  }
}
