.wrapperArticles {
  width: 100%;
  height: auto;
  padding: 208px 0px 200px 0px;
}

.Articles {
  margin-top: 80px;
}

.container {
  max-width: 63%;
  height: auto;
  margin: 0 auto;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 45px;
  letter-spacing: 0.065em;
  color: #3c424a;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.BoxImg {
  position: relative;
  width: 377px;
  height: 236px;
  background: #e3e3e3;
  border-radius: 10px;
}

.footerArticle {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.descArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  width: 61%;
  height: 234px;
}

.wrapArticle {
  display: flex;
  margin: 25px 0px 50px 0px;
  width: 110%;
}

.titleArticle {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6a7380;
  text-transform: uppercase;
}

.textArticle {
  max-width: 800px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 184%;
  color: #6a7380;
  margin-top: -25px;
}

.buttonImg {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #e3e3e3;
  border: 2px solid #6a7380;
  padding: 0px 23px;
  letter-spacing: 0.065em;
}
.buttonDetailed{
  padding: 0 28px;
}

.avtor {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #6a7380;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #6a7380;
}

.bittonTitle {
  width: 250px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #ffffff;
  text-transform: lowercase;
  margin: -7px 0px;
}


@media(max-width:1445px){
  .wrapperArticles{
    padding: 137px 0px 116px 0px;
  }
  .Articles{
    margin-top: 50px;
  }
  .wrapArticle{
    margin: 0px 0px 35px 0px;
  }
  .descArticle{
    height: 180px;
    margin-left: 15px;
  }
  .BoxImg{
    width: 282.75px;
    height: 177px;
  }
  .title{
    font-size: 36px;
    line-height: 44px;
  }
  .titleArticle{
    font-size: 14px;
    line-height: 17px;
  }
  .textArticle{
    font-size: 12px;
    line-height: 22px;
    margin-top: 0px;
  }
  .bittonTitle{
    width: 185px;
    height: 28px;
    margin: 0px;
  }
  .buttonImg{
    padding: 0px 16px;
    height: 28px;
    bottom: 12px;
    left: 16px;
  }
  .buttonImg>div{
    font-size: 12px;
    line-height: 15px;
  }
  .buttonDetailed{
    padding: 0 21px;
    height: 26px;
  }
  .footerArticle{
    margin-top: 15px;
  }
}