.circle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  cursor: pointer;
  animation-name: rotate;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circle>svg{
  width: 192px;
  height: 192px;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media(max-width:1445px){
  .circle>svg{
    width: 139.5px;
    height: 139.5px;
  }
}