.wrapperFeedback {
  height: 972px;
  width: 100%;
  display: flex;
}

.boxGreen {
  width: 50%;
  height: 572px;
  background-color: var(--green-color);
  padding: 200px 0px 200px 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.box {
  margin-left: 225px;
}

.invisibleInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.boxFeedback {
  width: 50%;
  background: #fbfafa;
  padding: clamp(150px, 10vw, 200px) 0px;
  height: auto;
  display: flex;
  justify-content: center;
}
.formDescription {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.065em;
  text-align: left;
  color: #6a7380;
}
.title {
  width: 343px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: #fbfafa;
  margin-bottom: 30px;
}

.text {
  width: 446px;
  white-space: pre-line;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #fbfafa;
}

.icons {
  margin-top: 45px;
}
.iconWrapper {
  height: 37.925010681152344px;
  width: 37.916988372802734px;
  overflow: hidden;
  position: relative;
  color: #fbfafa;
  border: 2px solid #fbfafa;
  border-radius: 5px;
  margin: 0 27px 27px 0;
  font-size: 1.6em;

  > a {
    position: absolute;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &::before {
    content: "";
    width: 140%;
    height: 140%;
    position: absolute;
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
    background-color: var(--yellow-color);
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  &:hover,
  &:active {
    &::before {
      top: -20%;
      left: -20%;
    }
  }
}

.iconAreaWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 280px;
}

.icons a:hover {
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
.inputs:first-child {
  margin-top: 0px;
}

.input {
  width: 425px;
  height: 52px;
  border: none;
  outline: none;
  margin: 14px 0px;
  padding-left: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.textarea {
  width: 425px;
  height: 97px;
  border: none;
  outline: none;
  padding: 15px 0px 0px 26px;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.button {
  background-color: #fbfafa;
  font-weight: bold;
  font-size: 16px;
  height: 52px;
  border: 2px solid #fa5c45;
  border-radius: 40px;
  color: #fa5c45;
  transition: all 0.3s;

  &:disabled {
    color: #fbfafa;
    border: 2px solid var(--green-color);
    background: var(--green-color);
  }

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: #fa5c45;
    color: #fbfafa;
  }
}

.tableTitle {
  display: none;
}

.successPage {
  h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.065em;
    text-align: left;
    color: #3c424a;
    margin-bottom: 30px;
  }
  span {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.065em;
    text-align: left;
    color: #6a7380;
  }
}
.addFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 30px;
  cursor: pointer;
  margin: 23px 0px 28px 8px;
}

.addFile:hover #skrepka {
  fill: var(--green-color);
}

.addFile:hover .textAdd {
  color: var(--green-color);
}

.textAdd {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #fa5c45;
}

@media (max-width: 1445px) {
  .wrapperFeedback {
    height: auto;
  }
  .boxGreen {
    padding: 0;
    padding-top: 150px;
  }
  .box {
    margin-left: 171px;
  }
  .boxFeedback {
    padding: 0;
    padding-top: 137px;
    height: 585px;
  }
  .inputs {
    margin-right: 94px;
  }
  .input {
    width: 330px;
    height: 39px;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0px;
    padding-left: 13px;
  }
  .textarea {
    width: 330px;
    height: 81.5px;
    font-size: 12px;
    line-height: 15px;
    padding: 9px 0px 0px 14px;
  }
  .addFile {
    margin: 6px -1px;
    width: 156px;
  }
  .textAdd {
    font-size: 12px;
    line-height: 15px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
    width: 183px;
    margin-bottom: 21px;
  }
  .text {
    font-size: 11px;
    line-height: 13px;
    width: 335px;
  }
  .button {
    height: 38px;
    width: 328px;
    margin-top: 11px;
    font-weight: 700;
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  .box {
    margin-left: 0px;
  }
  .inputs {
    margin-right: 0px;
  }
}

@media (max-width: 950px) {
  .boxGreen {
    padding-top: 130px;
    padding-bottom: 156px;
  }
  .boxFeedback {
    padding-top: 230px;
    padding-bottom: 43px;
    background-color: var(--green-color);
  }
  .box {
    margin-left: 14px;
  }
  .title {
    margin-bottom: 27px;
  }
  .text {
    font-size: 14px;
    line-height: 17px;
    width: 337px;
  }
  .input {
    height: 45px;
    width: 308px;
  }
  .textarea {
    width: 309px;
    height: 102px;
  }
  .button {
    border-color: #ffcc00;
    color: #ffff;
    background-color: #ffcc00;
    font-size: 14px;
    line-height: 17px;
    height: 47px;

    &:hover {
      border-color: var(--green-color) !important;
      background-color: #ffff !important;
      color: var(--green-color) !important;
    }
  }
}
@media (max-width: 730px) {
  .input,
  .textarea,
  .button,
  .text {
    width: 270px;
  }
}
@media (max-width: 580px) {
  .title {
    display: none;
  }
  .boxFeedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfafa;
  }
  .boxGreen {
    background-color: #fbfafa;
  }
  .tableTitle {
    display: block;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.065em;
    text-align: left;
    padding-left: 20px;
    color: #3c424a;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .icons {
    order: 1;
    margin-bottom: 13px;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .text {
    order: 2;
    color: #6a7380;
    margin-bottom: 50px;
  }
  .wrapperFeedback {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
  }
  .wrapperFeedback > div {
    width: 100%;
    height: auto;
  }
  .boxGreen {
    padding: 0;
  }
  .boxFeedback {
    padding: 0;
  }
  .input {
    box-sizing: border-box;
    max-width: 280px;
  }
  .textarea {
    box-sizing: border-box;
    max-width: 280px;
  }
  .button {
    box-sizing: border-box;
    max-width: 280px;
    height: 47px;
  }
  .text {
    box-sizing: border-box;
    max-width: 280px;
  }

  .iconWrapper {
    color: #309195;
    border-color: #309195;
  }
}
