.wrapperFrom {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fbfafa;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 1000px;
  height: 118px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: #3c424a;
  margin-right: 206px;
}

.form {
  position: relative;
  min-width: 1200px;
  height: auto;
  /* margin: 0 auto; */
  background-color: #ffff;
  margin-top: 75px;
  padding: 10px;
  padding-bottom: 60px;
}

.boxLine {
  position: absolute;
  top: -14px;
  left: 176px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 7px;
}
.line {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 2px;
  background-color: var(--textSub-color);
}

.bodyLineOne {
  background-color: var(--yellow-color);
  width: 25%;
  height: 2px;
  z-index: 2;
}

.bodyLineTwo {
  background-color: var(--yellow-color);
  height: 2px;
  z-index: 2;
  width: 50%;
}
.bodyLineThree {
  background-color: var(--yellow-color);
  height: 2px;
  z-index: 2;
  width: 75%;
}

.bodyLineFour {
  background-color: var(--yellow-color);
  height: 2px;
  z-index: 2;
  width: 100%;
}

.xui {
  background-color: red;
}

.circleActive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--textSub-color);
  letter-spacing: 0.065em;
  text-transform: uppercase;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid var(--textSub-color);
  background-color: #ffff;
  z-index: 2;
}
.circleBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--yellow-color);
  letter-spacing: 0.065em;
  text-transform: uppercase;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid var(--yellow-color);
  background-color: #ffff;
  z-index: 2;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffff;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0px solid var(--textSub-color);
  background-color: var(--yellow-color);
  z-index: 2;
}


@media(max-width:1445px){
  .wrapperFrom{
    justify-content: start;
    padding-top: 150px;
  }
  .title{
    font-size: 36px;
    line-height: 44px;
    margin-right: 186px;
    width: 718px;
  }
  .form{
    margin-top: 55px;
    min-width: 904.5px;
    padding-bottom: 30px;
  }
  .boxLine{
    left: 130px;
  }
}

@media(max-width:950px){
  .wrapperFrom{
    padding-top: 130px;
    padding-bottom: 105px;
  }
  .title{
    width: 93%;
    margin-right: 0px;
    margin-left: 6px;
  }
  .form{
    margin-top: 64px;
    padding-bottom: 55px;
    min-width: 300px;
    width: 92%;
  }
  .boxLine{
    left: 36px;
    width: 88%;
  }
  .circleActive{
    box-sizing: border-box;
  }
  .circle, .circleActive{
    width: 22.81px;
    height: 22.81px;
    font-size: 10.5px;
    line-height: 13px;
  }
  .line{
    top: 11px;
    
  }
}
@media(max-width:500px){
  .wrapperFrom{
    padding-top: 49px;
  }
  .title{
    font-size: 30px;
    line-height: 37px;
    margin-left: 16px;
  }
  .form{
    margin-top: 72px;
  }
  .boxLine{
    left: 2px;
    width: 93%;
  }
}