.wrapperKeys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 33.333%;
  height: calc(100vw / 3);
  box-sizing: border-box;
  background-color: #efefef;
/*   border: 19px solid transparent; */
}
.box:hover{
  box-sizing: border-box;
  /* border: 19px solid #FFCC00; */
  transition: border .8s;
  cursor: pointer;
  
}
.box>a{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10;
}

.box::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 19px solid #FFCC00;
  box-sizing: border-box;
  background: transparent;
  opacity: 0;
  transition-duration: 0.8s;
}
.box:hover::after{
  opacity: 1;
}

.boxLast {
  position: relative;
  width: 33.333%;
  background-color: var(--yellow-color);
  color: #ffffff;
}

.boxgrey {
  position: relative;
  width: 33.333%;
  background-color: var(--textSubtitle-color);
  color: #ffffff;
}

.button {
  position: absolute;
  bottom: 90px;
  left: 96px;
}

.buttonGrey {
  position: absolute;
  bottom: 92px;
  left: 96px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: var(--textSubtitle-color);
}

.title {
  position: absolute;
  top: 91px;
  left: 97px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
}

.nameKeys {
  position: absolute;
  top: 127px;
  left: 94px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #3c424a;
}

.nameKeysGrey {
  position: absolute;
  top: 127px;
  left: 94px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #ffffff;
}

.titleLast {
  position: absolute;
  top: 120px;
  left: 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  letter-spacing: 0.065em;

  color: #ffffff;
}

@media (max-width: 1445px) {
  .title {
    top: 65px;
    left: 70px;
    font-size: 11px;
    line-height: 13px;
  }
  .nameKeys,
  .nameKeysGrey {
    top: 95px;
    left: 72px;
    font-size: 14px;
    line-height: 17px;
  }
  .button,
  .buttonGrey {
    position: absolute;
    bottom: 69px;
    left: 76px;
    height: 26px;
    min-width: 0px;
    padding: 0 18px;
  }
  .button > div,
  .buttonGrey > div {
    font-size: 12px;
    line-height: 15px;
  }
  .titleLast {
    top: 87px;
    left: 67px;
    font-size: 36px;
    line-height: 44px;
  }
  .lastButton {
    height: 41px;
    margin-left: -8px;
    width: 176px;
  }
}
@media (max-width: 1050px) {
  .boxgrey,
  .boxLast,
  .box {
    height: 327px;
  }
  .title {
    top: 28px;
    left: 29px;
    font-size: 8px;
    line-height: 10px;
  }
  .nameKeys,
  .nameKeysGrey {
    top: 50px;
    left: 30px;
    font-size: 10.5px;
    line-height: 13px;
  }
  .button,
  .buttonGrey {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 20px;
    min-width: 0px;
    padding: 0 13px;
  }
  .button > div,
  .buttonGrey > div {
    font-size: 9px;
    line-height: 11px;
  }
  .titleLast {
    top: 43px;
    left: 24px;
    font-size: 27px;
    line-height: 33px;
  }
  .lastButton {
    height: 30px;
    margin-left: -7px;
    width: 134px;
    font-size: 9px;
    line-height: 11px;
  }
}
@media(max-width:950px){
  .wrapperKeys>.box{
    display: none;
  }
  .box:nth-child(-n+5){
    display: block !important;
  }
  .box,.boxLast{
    width: 50%;
    height: calc(100vw / 2);
  }
  .title{
    top: 31px;
    left: 29px;
    font-size: 11px;
    line-height: 13px;
  }
  .nameKeys{
    top: 58px;
    left: 32px;
    font-size: 14px;
    line-height: 17px;
  }
  .button{
    bottom: 31px;
    left: 31px;
    height: 27px;
  }
  .button>div{
    font-size: 12px;
    line-height: 15px;
  }
  .titleLast{
    top: 30px;
    left: 30px;
    font-size: 36px;
    line-height: 44px;
  }
  .lastButton{
    height: 44px;
    width: 175px;
    margin-left: -2px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media(max-width:500px){
  .wrapperKeys>.box{
    display: none !important;
  }
  .box:nth-child(-n+4){
    display: block !important;
  }
  .box, .boxLast{
    width: 100%;
    height: 100vw;;
  }
  .title{
    top: 20px;
    left: 20px;
  }
  .nameKeys{
    top: 50px;
    left: 20px;
  }
  .button{
    bottom: 20px;
    left: 20px;
  }
  .titleLast{
    top: 20px;
    left: 20px;
    font-size: 30px;
    line-height: 37px;
  }
  .lastButton{
    height: 47px;
    width: 280px;
    margin-left: 0px;
  }
}