.wrapperKeys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 33.333%;
  height: 612px;

  background-color: #efefef;
}

.boxLast {
  position: relative;
  width: 33.333%;
  height: 612px;
  background-color: var(--yellow-color);
  color: #ffffff;
}

.boxgrey {
  position: relative;
  width: 33.333%;
  height: 612px;
  background-color: var(--textSubtitle-color);
  color: #ffffff;
}

.button {
  position: absolute;
  bottom: 90px;
  left: 96px;
}

.buttonGrey {
  position: absolute;
  bottom: 92px;
  left: 96px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: var(--textSubtitle-color);
}

.title {
  position: absolute;
  top: 91px;
  left: 97px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
}

.nameKeys {
  position: absolute;
  top: 127px;
  left: 94px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #3c424a;
}

.nameKeysGrey {
  position: absolute;
  top: 127px;
  left: 94px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #ffffff;
}

.titleLast {
  position: absolute;
  top: 120px;
  left: 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  letter-spacing: 0.065em;

  color: #ffffff;
}


@media(max-width:1445px){
  .boxgrey, .boxLast, .box{
    height: 460px;
  }
  .title{
    top: 65px;
    left: 70px;
    font-size: 11px;
    line-height: 13px;
  }
  .nameKeys, .nameKeysGrey{
    top: 95px;
    left: 72px;
    font-size: 14px;
    line-height: 17px;
  }
  .button, .buttonGrey{
    position: absolute;
    bottom: 69px;
    left: 76px;
    height: 26px;
    min-width: 0px;
    padding: 0 18px

  }
  .button>div, .buttonGrey>div{
    font-size: 12px;
    line-height: 15px;
  }
  .titleLast{
    top: 87px;
    left: 67px;
    font-size: 36px;
    line-height: 44px;
  }
  .lastButton{
    height: 41px;
    margin-left: -8px;
    width: 176px;
  }
}