.wrapper {
  height: 500px;
  background: #fbfafa;
  padding: 0px 0px 200px 0px;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: #3c424a;
  margin-bottom: 30px;
}

.text {
  width: 500px;
  height: auto;
  white-space: pre-line;
  border-left: 4px solid var(--redColor-color);
  padding-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.photo {
  margin-left: 230px;
  margin-top: 20px;
  height: 529px;
}

@media(max-width:1440px){
  .wrapper{
    padding: 0px 0px 173px 0px;
  }
  .container{
    padding-top: 100px;
  }
  .title{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .text{
    font-size: 12px;
    line-height: 15px;
    width: 405px;
    border-left: 3px solid var(--redColor-color);
    padding-left: 22.5px;
  }
  .photo{
    width: 330px;
    height: 396.75px;
    margin-left: 143px;
    margin-top: 10px;
  }
}

@media(max-width:950px){
  .wrapper{
    padding: 0px 0px 261px 0px;
  }
  .photo{
    margin-left: 30px;
    margin-top: 41px;
    width: 290px;
    height: 349px;
  }
  .text{
    width: 311px;
    font-size: 14px;
    line-height: 17px;
  }
  .text > p{
    padding-bottom: 3px;
  }
  .text > p:nth-last-child(-n+2){
    width: 680px;
  }
}
@media(max-width:500px){
  .wrapper{
    height: auto;
    padding-bottom: 50px;
  }
  .container{
    flex-direction: column;
  }
  .text{
    border: none;
    padding: 0 20px;
    width: auto;
  }
  .title{
    padding: 0 20px;
  }
  .text > p:nth-last-child(-n+2){
    width: auto;
  }
  .photo{
    width: 278px;
    height: 336px;
    margin-left: 20px;
  }
}