.wrapper {
  background-color: #fbfafa;
  height: 700px;
  padding-top: 188px;
  padding-bottom: 100px;
}

.box {
  width: 63%;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: var(--textTitle-color);
  margin-top: 10px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 30px;
  max-width: 600px;
  letter-spacing: 0.065em;
  height: 85px;
  color: var(--textSubtitle-color);
}

.animationAndPage {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxButtons {
  margin-top: -25px;
  width: 404px;
}

.hoverText {
  display: flex;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--textTitle-color);
  margin-left: 30px;
  cursor: pointer;
  letter-spacing: 0.065em;
}

.hoverText div {
  margin-right: 42px;
}

.active {
  color: var(--redColor-color);
  margin-left: -26px;
  animation-name: textActive;
  animation-duration: 0.5s;
}

@keyframes textActive {
  from {
    margin-left: 30px;
  }
  to {
    margin-left: -26px;
  }
}

.boxTexts {
  width: 35%;
  margin-top: 50px;
}

.number {
  font-weight: 900;
  font-size: 36px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--yellow-color);
}

.changingText {
  margin-top: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  width: 272px;
  height: 200px;
  color: #6a7380;
}

.button {
  margin-top: 60px;
  width: 230px;
}

@media (max-width: 1445px) {
  .box {
    width: 70%;
  }
  .wrapper {
    padding-top: 136px;
    padding-bottom: 0px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
  }
  .text {
    font-size: 11px;
    line-height: 13px;
    max-width: 450px;
    margin-top: 25px;
  }
  .changingText {
    font-size: 12px;
    line-height: 15px;
  }
  .hoverText {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 1445px) {
  .box {
    width: 95%;
  }
}

@media(max-width:950px){
  .wrapper{
    padding-top: 120px;
    height: auto;
  }
  .box {
    width: 92%;
    padding-bottom: 55px;
  }
  .text{
    font-size: 12px;
    line-height: 15px;
    margin-top: 23px;
  }
  .animationAndPage{
    flex-wrap: wrap;
  }
  .boxTexts{
    order: 3;
  }
  .boxButtons{
    order: 2;
    margin-top: 32px;
    width: 45%;
  }
  .active{
    margin-left: -11px;
  }
  .hoverText{
    margin-right: 0px;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 17px;
  }
  .hoverText > div{
    margin-right: 30px;
  }
  .boxTexts{
    margin-top: -24px;
    position: relative;
  }
  .number{
    font-size: 27px;
    line-height: 33px;
  }
  .changingText{
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    width: 365px;
  }
  .button{
    position: absolute;
    margin-top: 0px;
    right: -384px;
    top: 64px;
    height: 47px;
    width: 173px;
  }
}
@media(max-width:720px){
  .button{
    right: -345px;
  }
}
@media(max-width:580px){
  .wrapper{
    padding-top: 41px;
  }
  .title{
    font-size: 30px;
    line-height: 37px;
  }
  .text{
    height: auto;
    margin-top: 20px;
  }
  .box{
    width: 87%;
  }
  .animationAndPage{
    flex-direction: column;
  }
  .boxButtons{
    order: 1;
    display: flex;
    margin-top: 28px;
    width: 100%;
    overflow-x: auto;
  }
  .hoverText{
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
    padding: 8px 12px 9px;
    margin-right: 10px;
    border-radius: 30px;
    background: white;
  }
  .changingText{
    width: 280px;
  }
  .hoverText > div{
    margin-right: 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .hoverText > span{
    width: max-content;
  }
  .number{
    font-size: 36px;
    line-height: 44px;
  }
  .active{
    animation-name: none;
    margin-left: auto;
  }
  .boxTexts{
    margin-top: -78px;
  }
  .button{
    position: relative;
    right: auto;
    top:auto;
    margin-top: 40px;
    width: 280px;
    height: 47px;
  }
  .button>div:last-child{
    font-size: 12px;
    line-height: 15px;
  }
}