.wrapperQuality {
  background: #fbfafa;
  height: 1013px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 0 auto;
  max-width: 1206px;
  width: auto;
  height: 682px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: #3c424a;
  margin-left: 5px;
}

.desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #6a7380;
  margin-top: 67px;
  margin-left: 6px;
  width: 593px;
  height: 51px;
}

.string {
  height: 77px;
  width: 591px;
  display: flex;
  margin: 45px 0px 46px 0px;
}

.boxString {
  margin-left: 63px;
  margin-top: -5px;
}

.titleElem {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #fa5c45;
  width: 500px;
}

.textElem {
  width: 440px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #6a7380;
  margin-top: 16px;
}

.strings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 19px;
  margin-left: 90px;
}

@media (max-width: 1440px) {
  .wrapperQuality {
    height: 760px;
  }
  .box {
    max-width: 938px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
    margin-top: 114px;
    margin-left: 13px;
  }
  .desc {
    font-size: 11px;
    line-height: 13px;
    width: 483px;
    margin-top: 22px;
    margin-left: 16px;
  }
  .string {
    margin: 25px 0;
    width: auto;
  }
  .strings {
    width: 90%;
  }
  .titleElem {
    font-size: 14px;
    line-height: 17px;
    width: 323px;
  }
  .textElem {
    font-size: 12px;
    line-height: 15px;
    width: 301px;
  }
}

@media (max-width: 1050px) {
  .wrapperQuality {
    height: auto;
  }
  .title {
    margin-top: 70px;
  }
}
