@import "../../assets/style/mixins";

.wrapperQuality {
  background: #fbfafa;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(150px, 10.5vw, 200px) 0px;
  box-sizing: border-box;
}

.box {
  margin: 0 auto;
  max-width: clamp(904px, 63vw, 1200px);
  width: auto;
  height: auto;
}
.title {
  font-style: normal;
  font-weight: bold;
  @include fluidFontSize(36px, 48px, 1336px, 1920px, 36px);
  line-height: 120%;
  letter-spacing: 0.065em;
  color: #3c424a;
}

.desc {
  font-style: normal;
  font-weight: normal;
  @include fluidFontSize(12px, 14px, 1336px, 1920px, 12px);
  line-height: 120%;
  letter-spacing: 0.065em;
  color: #6a7380;
  margin-top: 30px;
  width: 593px;
  height: 51px;
}

.string {
  height: 77px;
  width: clamp(300px, 40%, 591px);
  display: flex;
  margin: 45px 0px 46px 0px;
}

.boxString {
  margin-left: 63px;
  // margin-top: -5px;
}

.titleElem {
  font-style: normal;
  font-weight: 600;
  @include fluidFontSize(14px, 18px, 1336px, 1920px, 14px);
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #fa5c45;
  width: 500px;
}

.textElem {
  width: 440px;
  font-style: normal;
  font-weight: normal;
  @include fluidFontSize(12px, 16px, 1336px, 1920px, 12px);
  letter-spacing: 0.065em;
  color: #6a7380;
  margin-top: 16px;
}

.strings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 19px;
  margin-left: 98px;
}

@media (max-width: 1440px) {
  .box {
    max-width: 938px;
  }
  .desc {
    width: 483px;
    margin-top: 22px;
  }
  .string {
    margin: 25px 0;
    width: auto;
  }
  .strings {
    width: 90%;
  }
  .titleElem {
    font-size: 14px;
    line-height: 17px;
    width: 323px;
  }
  .textElem {
    font-size: 12px;
    line-height: 15px;
    width: 301px;
  }
}
@media (max-width: 1366px) {
  .title {
    @include fluidFontSize(30px, 36px, 500px, 1336px, 30px);
  }
}
@media (max-width: 1050px) {
  .wrapperQuality {
    height: auto;
    padding: clamp(130px, 14.3vw, 150px) 30px;
  }
  .box {
    height: auto;
  }
}

@media (max-width: 950px) {
  .desc {
    width: 450px;
    height: auto;
  }
  .strings {
    width: 86.8%;
    padding-left: 53px;
    padding-top: 26px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .boxString {
    margin-left: 48px;
    // margin-top: 6px;
  }
  .string {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 54px;
    }
    & > div:first-child {
      transform: scale(0.75) translate(0px, -20px);
    }
  }
  .titleElem {
    // margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    width: 242px;
  }
  .textElem {
    font-size: 14px;
    line-height: 17px;
    width: 240px;
  }
  .string {
    margin: 0px;
    margin-bottom: 27px;
    height: auto;
    width: auto;
  }
}
@media (max-width: 730px) {
  .wrapperQuality {
    padding: clamp(50px, 14.3vw, 130px) clamp(20px, 3.1vw, 30px);
  }
  .string > div:first-child {
    transform: scale(0.75) translate(0px, -10px);
  }
  .textElem {
    width: 100%;
  }
  .string:nth-child(1) {
    order: 1;
  }
  .string:nth-child(2) {
    order: 4;
  }
  .string:nth-child(3) {
    order: 2;
  }
  .string:nth-child(4) {
    order: 5;
  }
  .string:nth-child(5) {
    order: 3;
  }
  .string:nth-child(6) {
    order: 6;
  }
}

@media (max-width: 500px) {
  .string {
    padding-bottom: 20px;
    margin-bottom: 0px !important;
  }
  .box {
    max-width: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
  }
  .changingText {
    height: 180px;
  }
  .desc {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .strings {
    padding-top: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .string {
    margin-bottom: 20px;
  }
  .titleElem {
    font-size: 13px;
    line-height: 16px;
  }
  .textElem {
    font-size: 12px;
    line-height: 15px;
  }
  .string > div:first-child > div {
    width: 100%;
  }
  .boxString {
    margin-left: 40px;
  }
}
