.wrapper {
  height: 630px;
  width: 100%;
  background: #fbfafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 180px;
  overflow: hidden;
}

.headReviews {
  width: 1236px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #6a7380;
  width: 593px;
  height: 68px;
  margin-top: 43px;
  margin-left: 31px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.065em;
  color: #3c424a;
  margin-left: 30px;
}

.button {
  background-color: #fbfafa;
  margin-top: 37px;
  letter-spacing: 0.065em;
  padding: 0px 20px 0px 26px;
}

.wrapperSlider {
  max-width: 1900px;
  height: 369px;
  margin-top: 50px;
}

/* .container {
  max-width: 1500px;
  height: 500px;

  margin: 0 auto;
} */

.items {
  position: relative;
  border-radius: 10px;
  width: 317px !important;
  height: 312px !important;
  background: #ffffff;
  margin: 40px 40px 0px 40px !important;
  outline: none;
  padding: 30px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  transform: translate3d(335px, 0px, 0px);
  border: 1px solid transparent;
}

.items:hover {
  width: 317px !important;
  height: 309px;
  border: 1px solid var(--green-color);
}

.kovichki {
  position: absolute;
  top: -40px;
  left: 30px;
}
.items:hover #svg {
  fill: var(--redBG-background);
}
.textReview {
  width: 318px;
  height: 220px;
  overflow-y: hidden scroll;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 184%;
  color: #6a7380;
  margin-top: 3px;
}

.border {
  height: 30px;
  position: absolute;
  width: 315px;
  bottom: 117px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7987570028011204) 27%
  );
}

.mask {
  position: absolute;
  bottom: 10px;
  left: -43px;
  height: 35px;
  width: 30px;
  background-color: #fbfafa;
  z-index: 2;
}

.avtorReview {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #6a7380;
}

.dexcAvtor {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #6a7380;
  margin-top: 10px;
}
.items:hover{
  .wrapperTrack{
    display: block;
  }
}
.wrapperTrack {
  background: rgba(106, 115, 128, 0.27) !important;
  width: 2px !important;
  display: none;
}

.wrapperThumb {
  display: block;
  background: #ffcc00 !important;
  width: 2px !important;
  height: 60px !important;
}

.slick-current::after {
  display: none;
}
.slick-slide{
  margin: 4px -8px !important;
}

@media(max-width:1445px){
  .wrapper{
    padding-bottom: 0px;
  }
  .headReviews{
    width: 904px;
  }
  .title{
    font-size: 36px;
    line-height: 44px;
    margin-left: 0px;
  }
  .text{
    width: 445px;
    margin-top: 23px;
    margin-left: 0px;
    font-size: 11px;
    line-height: 13px;
  }
  .button{
    margin-top: 20px;
    height: 27px;
    padding: 0 16px;
  }
  .button>div{
    font-size: 12px;
    line-height: 15px;
  }
  .wrapperSlider{
    margin-top: 15px;
  }
  .items{
/*     width: 282px !important;
    height: 276px !important; */
    transform: translate3d(480px, 0px, 0px);
/*     padding: 20px;
    box-sizing: border-box; */
  }
/*   .textReview{
    font-size: 12px;
    line-height: 22px;
  }
  .avtorReview{
    font-size: 14px;
    line-height: 17px;
  }
  .dexcAvtor{
    font-size: 11px;
    line-height: 13px;
  } */
}

@media(max-width:950px){
  .headReviews{
    width: 100%;
    max-width: 710px;
  }
  .text{
    font-size: 14px;
    line-height: 17px;
    width: 525px;
  }
  .button{
    margin-top: -77px;
  }
  .wrapperSlider{
    margin-left: 140px;
    margin-top: 70px;
    height: auto;
    margin-bottom: 130px;
  }
  .wrapper{
    height: auto;
  }
}
@media(max-width:500px){
  .wrapper{
    height: auto;
    padding-top: 5px;
    padding-bottom: 80px;
  }
  .title{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 37px;
  }
  .text{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
    font-size: 12px;
    line-height: 15px;
  }
  .button{
    display: none;
  }
  .wrapperSlider{
    margin-top: -25px;
  }
  .wrapperSlider > div > div > div{
    transform: translate3d(354px, 0px, 0px) !important;
  }
  .wrapperSlider > div > div > div > div{
    transform: scale(.8);
  }
}