.wrapperKeys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.caseWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 33.333%;
    height: calc((100vw / 3) - 27px);
    box-sizing: border-box;
    position: relative;
    padding: 90px;
    overflow: hidden;
    
    .caseBgImg{
        width: 100%;
        height: calc((100vw / 3) - 27px);
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.boxLast{
    background-color: var(--yellow-color);

    .titleLast{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */
        letter-spacing: 0.065em;
        color: #FFFFFF;

    }
}
.gradient{
    width: 100%;
    height: calc((100vw / 3) - 27px);
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text{
    z-index: 3;
    position: relative;
    color: #FFFFFF;
}
.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.065em;
    margin-bottom: 20px;
}
.maneCase{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
}
.tagAreaWrapper{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    button{
        min-width: max-content; 
        border-color: #FFFFFF;
        color:#FFFFFF;
        background: transparent;
        transition: all .3s;
        &:nth-child(-n+2){
            margin-right: 30px;
        }
        &:hover{
            background-color: #FFFFFF;
            color: var(--textTitleBG-background) !important;
        }
    }
}
.caseWrapper:nth-child(2n){
    .text{
        color: var(--textTitleBG-background);
    }
    .tagAreaWrapper{
        button{
            border-color: var(--textTitleBG-background);
            color: var(--textTitleBG-background);
            background: transparent;
            transition: all .3s;
            &:hover{
                background-color: var(--textTitleBG-background);
                color: #FFFFFF !important;
            }
        }
    }
}

@media (max-width:1600px) {
    .caseWrapper{
        padding: 70px;
    }
    .title{
        font-size: 11px;
        margin-bottom: 15px;
    }
    .maneCase{
        font-size: 14px;
        line-height: 17px;
    }
    .tagAreaWrapper{
        button{
            font-size: 12px;
            height: 27px;
            &:nth-child(-n+2){
                margin-right: 20px;
            }
        }
    }
    .titleLast{
        font-size: 36px !important;
    }
}

@media (max-width:1400px) {
    .caseWrapper{
        padding: 35px;
    }
    .title{
        font-size: 11px;
        margin-bottom: 15px;
    }
    .maneCase{
        font-size: 14px;
        line-height: 17px;
    }
    .tagAreaWrapper{
        button{
            padding: 0 12px;
            font-size: 12px;
            height: 27px;
            &:nth-child(-n+2){
                margin-right: 5px;
            }
        }
    }
    .titleLast{
        font-size: 36px !important;
    }
}
@media (max-width:1050px) {
    .caseWrapper{
        padding: 30px;
        max-width: 50%;
        height: calc(100vw / 2 - 18px);
        .caseBgImg{

            height: calc(100vw / 2 - 18px);
        }
    }
    .caseWrapper:not(.boxLast) {
        display: none;
      }
      .caseWrapper:nth-child(-n + 5) {
        display: flex !important;
      }
    .gradient{
        height: calc(100vw / 2 - 18px);
    }
    .title{
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 15px;
    }
    .maneCase{
        font-size: 14px;
        line-height: 17px;
    }
    .tagAreaWrapper{
        button{
            padding: 0 12px;
            font-size: 12px;
            height: 27px;
            &:nth-child(-n+2){
                margin-right: 5px;
            }
        }
    }
    .titleLast{
        font-size: 36px !important;
    }
}

@media (max-width:600px){
    .caseWrapper{
        padding: 20px;
        max-width: 100%;
        height: calc(100vw - 67px);

        .caseBgImg{
            height: calc(100vw - 67px);
        }
    }
    .gradient{
        height: calc(100vw - 67px);
    }
    .caseWrapper:not(.boxLast) {
        display: none !important;
    }

    .caseWrapper:nth-child(-n + 4) {
      display: flex !important;
    }
    .titleLast{
        font-size: 30px !important;
    }
    .titleLast{
        font-size: 36px;
        line-height: 44px;
    }

}
@media(max-width:400px){
    .boxLast{
        align-items: center;
    }
    .titleLast{
        width: 100%;
    }
}