.wrapper {
  background: #fbfafa;
  padding-bottom: 204px;
  padding-top: 70px;
}

.container {
  width: 1206px;
  height: 437px;
  background: #ffcc00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #3c424a;
}

.text {
  margin-top: 15px;
  width: 545px;
  height: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: rgba(60, 66, 74, 0.7);
}

.button {
  width: 231px;
  height: 52px;
  background: #fbfafa;
  border-radius: 40px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #3c424a;
  margin-left: 130px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

form .button{
  width: auto;
  background: #309195;
  border-color: #309195;
  color: #ffffff;
  margin-left: 0px;
}

form .button:not(:disabled):hover{
  background: #FA5C45;
  border-color: #FA5C45;
  color: #ffffff;
}

.button:disabled{
  background-color: #ffffff;
  border-color: #ffffff;
  color: #309195;
}

.textForm {
  margin-top: 15px;
  width: 545px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: rgba(60, 66, 74, 0.7);
}

.wrapContactForm {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.wrapInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.input {
  width: 396px;
  height: 52px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: var(--textSubtitle-color);
  padding: 0px 22px;
}

.bad {
  width: 394px;
  height: 50px;
  border: 2px solid var(--redColor-color);
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #ffffff;
  margin-top: 15px;
}

.active {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: var(--redColor-color);
  margin-top: 15px;
}

.buttonGreen {
  width: 300px;
}

.wrapf {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.textFormik {
  margin-top: 20px;
  width: 350px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: rgba(60, 66, 74, 0.7);
}

.redText {
  position: absolute;
  left: 0px;
  bottom: -70px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #fa5c45;
}

.arrow {
  position: absolute;
  bottom: -80px;
  left: -130px;
  transform: rotate(180deg);
}

.wrapLastForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.boxText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

.greenBox {
  background-color: var(--green-color);
  width: 460px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyCircle {
  position: relative;
  width: 243px;
  height: 243px;
  border-radius: 150px;
  background-color: var(--green-color);
  overflow: hidden;
  margin-bottom: 50px;
}

.elemOne {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 243px;
  height: 243px;
  border-radius: 150px;
  background-color: #ffffff;
}

.radius {
  position: absolute;
  top: 76px;
  left: 40px;
  width: 164px;
  height: 164px;
  border-radius: 82px;
  /* border: 1px solid #000; */
  animation-name: circle;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.elemTwo {
  position: absolute;
  top: 0px;
  left: 25px;
  width: 104px;
  height: 104px;
  border-radius: 54px;
  background-color: #3c424a;
}

@keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media(max-width:1440px){
  .wrapper{
    padding-top: 0px;
    padding-bottom: 150px
  }
  .container{
    width: 904px;
    height: 328px;
    justify-content: start;
  }
  .title{
    font-size: 14px;
    line-height: 17px;
  }
  .text{
    font-size: 12px;
    line-height: 15px;
    margin-top: 9px;
    width: 415px;
  }
  .wrapContenContactForm{
    margin-left: 114px;
    margin-top: 29px;
  }
  .button{
    width: 175px;
    height: 40px;
    margin-left: 87px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media(max-width:950px){
  .wrapper{
    padding-bottom: 131px;
  }
  .wrapContactForm{
    flex-direction: column;
    align-items: center;
  }
  .container{
    width: 100%;
    max-width: 710px;
    height: 357px;
    flex-direction: column;
    justify-content: center;
  }
  .wrapContenContactForm{
    width: 520px;
    height: 168px;
    margin: 0;
  }
  .title{
    font-size: 16px;
    line-height: 20px;
  }
  .text{
    font-size: 14px;
    line-height: 17px;
    width: 500px;
  }
  .button{
    font-size: 14px;
    line-height: 17px;
    width: 519px;
    height: 47px;
    margin: 0;
  }
  .wrapContenContactForm{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .container{
    height: 381px;
  }
  .text{
    width: 100%;
    box-sizing: border-box;
  }
  .button{
    width: 90%;
    margin-top: 64px;
  }

  .boxText{
    align-items: center;
  }
}

@media(max-width:500px){
  .wrapper{
    padding-bottom: 50px;
  }
  .wrapContenContactForm{
    padding-top: 20px;
  }
  .button{
    margin-bottom: 20px;
  }
  .container{
    height: auto;
  }
  .textForm{
    width: 240px;
    height: auto;
  }
  .wrapInputs{
    width: 290px;
  }
  .input{
    width: 240px;
  }
  .textFormik{
   width: 280px;
   height: auto;
  }
  .wrapLastForm{
    flex-direction: column;
  }

  .wrapf{
    margin-top: 80px;
  }

  .greenBox{
    width: auto;
    height: auto;
  }
}