.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  margin-right: 9%;
}
.itemWrapper {
  padding: 8px 25px;
  border: 1px solid #6a7380;
  border-radius: 100px;
  width: max-content;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.065em;
  text-align: left;
  transition: all 0.3s;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &.active {
    &:nth-child(1) {
      border-color: #ffcc00;
      background: #ffcc00;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:nth-child(2) {
      border-color: #fa5c45;
      background: #fa5c45;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:nth-child(3) {
      border-color: #309195;
      background: #309195;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:nth-child(4) {
      border-color: #ffcc00;
      background: #ffcc00;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:nth-child(5) {
      border-color: #309195;
      background: #309195;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:nth-child(6) {
      border-color: #fa5c45;
      background: #fa5c45;
      color: #fff;
      &:hover {
        background: transparent;
      }
    }
  }
  &:hover {
    &:nth-child(1) {
      color: #ffcc00;
      border-color: #ffcc00;
    }
    &:nth-child(2) {
      color: #fa5c45;
      border-color: #fa5c45;
    }
    &:nth-child(3) {
      color: #309195;
      border-color: #309195;
    }
    &:nth-child(4) {
      color: #ffcc00;
      border-color: #ffcc00;
    }
    &:nth-child(5) {
      color: #309195;
      border-color: #309195;
    }
    &:nth-child(6) {
      color: #fa5c45;
      border-color: #fa5c45;
    }
  }
}

@media (max-width: 1445px) {
  .wrapper {
    margin-top: 0px;
  }
}
