.formTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  padding-top: 60px;
  color: #3c424a;
  margin-top: 15px;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid #6a7380;
  margin-right: 40px;
}

.activeBox {
  background: url(../../../images/ArrowCheck.png) no-repeat center bottom 4px;
  background-color: var(--redColor-color);
}

.box {
  display: flex;
  cursor: pointer;
}

.box:hover .checkBox {
  border: 1px solid #fa5c45;
}

.text {
  width: 781px;
  height: 42px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.activeText {
  width: 781px;
  height: 42px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.065em;
  color: #3c424a;
}

.wrapForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
  height: 310px;
}

.arrow {
  background: url(../../../images/arrowButton.png) no-repeat center right;
}

.button {
  margin-top: 24px;
}

@media(max-width:1445px){
  .box{
    width: 630px;
  }
  .wrapForm{
    margin-top: 37px;
    height: 240px;
  }
  .formTitle{
    font-size: 14px;
    line-height: 17px;
    padding-top: 43px;
  }
  .text{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .checkBox{
    min-width: 15px;
    height: 15px;
    margin-right: 27px;
  }
  .button{
    margin: 10px 0;
  }
}

@media(max-width:950px){
  .formTitle{
    padding-top: 60px;
    font-size: 16px;
    line-height: 20px;
    margin-left: -76px;
  }
  .wrapForm{
    margin-top: 56px;
    height: 333px;
  }
}