.formTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  padding-top: 15px;
  color: #3c424a;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid #6a7380;
  margin-right: 40px;
}

.activeBox {
  background: url(../../../images/ArrowCheck.png) no-repeat center bottom 4px;
  background-color: var(--redColor-color);
}

.box {
  display: flex;
  cursor: pointer;
  padding-bottom: 30px;
}

.box:hover .checkBox {
  border: 1px solid #fa5c45;
}

.text {
  width: 781px;
  height: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.065em;
  color: #6a7380;
}

.activeText {
  width: 781px;
  height: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.065em;
  color: #3c424a;
}

.wrap{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.arrow {
  background: url(../../../images/arrowButton.png) no-repeat center right;
}

.button {
  margin-top: 40px !important;
}

@media(max-width:1445px){
  .box{
    width: 630px;
  }

  .formTitle{
    font-size: 14px;
    line-height: 17px;
    padding-top: 43px;
  }
  .text{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .checkBox{
    min-width: 15px;
    height: 15px;
    margin-right: 27px;
  }
  .button{
    margin: 10px 0;
  }
}

@media(max-width:950px){
  .formTitle{
    padding-top: 60px;
    font-size: 16px;
    line-height: 20px;
    margin-left: -76px;
  }

  .box{
    width: 613px;
  }
  .text{
    width: 540px;
    font-size: 14px;
    line-height: 18px;
  }
  .button{
    margin: 10px 0;
    margin-top: 40px;
    height: 50px;
    width: 520px;
  }
  .checkBox{
    min-width: 15px;
    height: 20px;
    margin-right: 27px;
  }
}
@media(max-width:730px){
  .box{
    width: auto;
  }
  .text{
    width: 90%;
  }
  .button{
    width: 90%;
  }
}
@media(max-width:500px){
  .formTitle{
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    width: 80%;
    margin-left: 30px;
  }
  .box{
    width: 100%;
  }
  .text{
    font-size: 13px;
    line-height: 17px;
    width: 240px;
    height: auto;
  }
  .button{
    margin-top: 45px;
    margin-bottom: -10px;
    height: 50px;
    width: 80%;
  }
}