.circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: -160px;
  background-size: contain;
  background-clip: border-box;
  background-repeat: no-repeat;

  &[data-index-number="1"] {
    background-image: url("../images/mainScreenSVG/Ellipse\ 518.svg");
  }
  &[data-index-number="2"] {
    background-image: url("../images/mainScreenSVG/Polygon\ 24.svg");
  }
  &[data-index-number="3"] {
    background-image: url("../images/mainScreenSVG/Rectangle\ 1283.svg");
  }
  &[data-index-number="4"] {
    background-image: url("../images/mainScreenSVG/Union.svg");
  }
  &[data-index-number="5"] {
    background-image: url("../images/mainScreenSVG/Union2.svg");
  }
  &[data-index-number="6"] {
    background-image: url("../images/mainScreenSVG/Vector.svg");
  }
}

.circles [data-counter-number="1"] {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles [data-counter-number="2"] {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles [data-counter-number="3"] {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles [data-counter-number="4"] {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles [data-counter-number="5"] {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles [data-counter-number="6"] {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles [data-counter-number="7"] {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles [data-counter-number="8"] {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles [data-counter-number="9"] {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles [data-counter-number="10"] {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles [data-counter-number="11"] {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
}

.circles [data-counter-number="12"] {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 14s;
}

.circles [data-counter-number="13"] {
  left: 50%;
  width: 20px;
  height: 20px;
  animation-delay: 6s;
}

.circles [data-counter-number="14"] {
  left: 75%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.circles [data-counter-number="15"] {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles [data-counter-number="16"] {
  left: 40%;
  width: 110px;
  height: 110px;
  animation-delay: 6s;
}

.circles [data-counter-number="17"] {
  left: 25%;
  width: 150px;
  height: 150px;
  animation-delay: 3s;
}

.circles [data-counter-number="18"] {
  left: 70%;
  width: 25px;
  height: 25px;
  animation-delay: 19s;
  animation-duration: 45s;
}

.circles [data-counter-number="19"] {
  left: 10%;
  width: 15px;
  height: 15px;
  animation-delay: 8s;
  animation-duration: 35s;
}

.circles [data-counter-number="20"] {
  left: 25%;
  width: 150px;
  height: 150px;
  animation-delay: 4s;
  animation-duration: 11s;
}

@media (max-width: 700px) {
  .circles li:nth-child(n + 9) {
    display: none;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
