.wrapperFooter {
  width: 100%;
  height: 595px;
  padding: 200px 0px 0px 0px;
  background: #3c424a;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boxOne {
  display: flex;
  width: 62%;
  justify-content: space-between;
}

.bpmIcon {
  margin-top: 10px;
}

.wrapContacts {
  margin-right: 14px;
  margin-top: -2px;
}

.boxTwo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 79px;
  margin-left: 19px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.065em;
  color: #fbfafa;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  color: #ffffff;
  margin: 24px 0px;
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.065em;
  color: #ffffff;
  margin-bottom: 17px;
  margin-left: 19px;
}

@media (max-width: 1445px) {
  .container {
    height: 460px;
  }
  .wrapperFooter {
    height: auto;
    padding: 140px 0px 0px 0px;
  }
  .wrapContacts {
    margin-right: 20px;
    margin-top: 14px;
  }
  .bpmIcon {
    width: 329px;
    margin-top: 2px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 12px;
    line-height: 15px;
    margin: 18px 0px;
  }
  .boxTwo {
    margin-top: 56px;
  }
  .bottom {
    margin-bottom: 10px;
    font-size: 10.5px;
    line-height: 13px;
  }
}

@media (max-width: 1050px) {
  .boxOne {
    width: 84%;
  }
  .boxTwo {
    width: 84%;
  }
}

@media(max-width: 950px){
  .bpmIcon{
    width: 177px;
    height: 100px;
    margin-left: 63px;
  }
  .title{
    line-height: 36px;
  }
  .text{
    font-size: 14px;
    line-height: 17px;
    margin: 17px 0;
  }
  .container{
    height: 423px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .wrapContacts{  
    margin-right: -27px;
  }
  .boxOne{
    margin-bottom: 30px;
  }
  .boxTwo{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .boxTwo .text{
    font-size: 12px;
    line-height: 15px;
    margin: 10px 16px;
  }
  .bottom{
    margin-top: 57px;
  }
}

@media(max-width:500px){
  .container{
    height: auto;
  }
  .boxOne{
    display: flex;
    flex-direction: column;
  }
  .wrapperFooter{
    padding: 0;
  }
  .bpmIcon{
    margin-left: 0px;
  }
  .wrapContacts{
    box-sizing: border-box;
    max-width: 280px;
  }
  .boxTwo{
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    justify-content: start;
  }
}