@import url(../../fonts/stylesheet.css);
@import url(../pages/Main.module.scss);
@import "../assets/style/mixins";

header {
  background: #fbfafa;
  position: relative;
}
body {
  overflow-x: hidden;
}
main {
  background: #fbfafa;
}
.wrapper {
  max-width: 1920px;
  height: 777px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.BpmCloud {
  width: 183px;
  height: 70px;
  margin-left: 96px;
  margin-right: 78px;
  margin-top: 14px;
}

.container {
  display: flex;
  height: 100px;
}

.textBPM {
  margin-bottom: 35px;
}

.subText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  @include fluidFontSize(18px, 27px, 1336px, 1920px, 18px);
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #6a7380;
  max-width: clamp(400px, 29vw, 540px);
  margin-top: -5px;
  min-height: 80px;
}

.boxLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 89px;
}

.yellowButton {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 9px;
  margin-right: 49px;
}

.conteinerTwo {
  height: 500px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}
.conteinerTwo h1.subPage {
  text-transform: uppercase;
  position: relative;
  font-family: Montserrat;
  @include fluidFontSize(54px, 72px, 1336px, 1920px, 54px);
  @include fluidFontSize(34px, 72px, 320px, 1336px, 34px);
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.065em;
  text-align: left;
  color: rgba(48, 145, 149, 1);
  transform-style: preserve-3d;
  max-width: 100%;

  &::after {
    content: "";
    height: 50px;
    width: 50px;
    background: #3c424a;
    position: absolute;
    right: -15px;
    top: -15px;
    transform: translateZ(-1px);
  }
}
.conteinerTwo h1.subPage .active {
  color: var(--green-color);
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.displayNone {
  display: none;
}

.mobileButton {
  display: none;
}
.textBPM {
  svg {
    width: clamp(400px, 29vw, 541px);
    height: clamp(126px, 10vw, 172px);
  }
}
@media (max-width: 1445px) {
  .wrapper {
    height: 583px;
  }
  .BpmCloud {
    width: 137px;
    height: 52px;
    margin-left: 74px;
    margin-right: 58px;
    margin-top: 11px;
  }
  .yellowButton {
    margin-right: 37px;
  }
  .container {
    height: 73px;
    margin-bottom: 30px;
  }
  .textBPM {
    // font-size: 60px;
    line-height: 73px;
    margin-top: -7px;
  }

  .boxLogo {
    margin-top: 0px;
    margin-bottom: 22px;
    height: auto;
  }
  .conteinerTwo {
    height: 443px;
    width: 100%;
  }
  .subPageContainerWrapper {
    max-width: 900px;
    h1 {
      word-wrap: break-word;
    }
  }
}

@media (max-width: 1366px) {
  .BpmCloud {
    width: 137.25px;
    height: 52.5px;
    margin-left: 36px;
  }
  .textBPM {
    width: 429px;
    // font-weight: 800;
    // font-size: 60px;
    // line-height: 73px;
  }

  .yellowButton {
    margin-top: 0px;
  }
  .conteinerTwo {
    box-sizing: border-box;
    padding: 0 30px;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    height: 480px;
  }
  .conteinerTwo {
    height: 305px;
  }
  .BpmCloud {
    width: 104.25px;
    margin-left: 26px;
    margin-top: 2px;
    margin-right: 23px;
  }

  .yellowButton {
    margin-right: 26px;
  }
  .textBPM {
    width: auto;
    // font-size: 45px;
    // line-height: 55px;
    margin-top: 0px;
  }
  .boxLogo {
    margin-top: 0px;
    margin-bottom: 32px;
    height: auto;
  }
}
@media (max-width: 950px) {
  .wrapper {
    height: auto;
  }
  .conteinerTwo {
    height: auto;
    align-items: start;
    padding-left: 30px;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-top: 130px;
  }
  .container {
    margin-bottom: 0px;
    > a {
      z-index: 9999999;
    }
  }

  .BpmCloud {
    width: 135px;
    margin-left: 31px;
    margin-top: 16px;
    margin-right: 23px;
  }
  .boxLogo {
    margin: 0;
    height: auto;
  }
  .conteinerTwo {
    flex-direction: column;
    max-width: 768px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .textBPM {
    // font-size: 80px;
    // line-height: 98px;
  }
  .subText {
    font-size: 18px;
    line-height: 22px;
  }
  .yellowButton {
    margin-right: 31px;
    align-items: flex-end;
  }
  .textBPM {
    svg {
      width: clamp(280px, 57vw, 541px);
      height: clamp(88px, 19vw, 172px);
    }
  }
}
@media (max-width: 750px) {
  .yellowButton {
    margin-right: 20px;
  }
}
@media (max-width: 570px) {
  .yellowButton {
    display: none;
  }
  .mobileButton {
    display: block;
    margin-top: 70px;
    max-width: unset;
    width: 100%;
    button {
      width: 100% !important;
      max-width: unset;
    }
  }
  .container {
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 90%;
    background-color: white;
    padding: 0 5%;
    position: fixed;
    z-index: 1000000;
  }
  .BpmCloud {
    width: 107px;
    margin: 0px;
  }
  .conteinerTwo {
    padding-left: 20px;
    padding-bottom: 53px;
    padding-top: 90px;
    justify-content: space-between;
  }
  .box {
    width: auto;
  }
  .boxLogo {
    height: auto;
  }
  .textBPM {
    // font-size: 37px;
    // line-height: 45px;
  }
  .container > a {
    background: white;
  }

  .boxLogo {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .conteinerTwo {
    padding-bottom: 25px;
    margin-bottom: 0;
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .subPageContainerWrapper {
    padding-top: 83px;
  }
}

@media (max-width: 430px) {
  .mobileButton {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .subText {
    font-size: 18px;
  }
}
