@import url(../../fonts/stylesheet.css);

header {
  background: #fbfafa;
  position: relative;
}
main {
  background: #fbfafa;
}
.wrapper {
  max-width: 1920px;
  height: 777px;
  margin: 0 auto;
}
.wrapper h1 {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
}
.BpmCloud {
  width: 183px;
  height: 70px;
  margin-left: 96px;
  margin-right: 78px;
  margin-top: 14px;
}

.container {
  display: flex;
  height: 100px;
}

.textBPM {
  margin-bottom: 35px;
}

.sabtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #6a7380;
  max-width: 540px;
  margin-top: -5px;
  min-height: 80px;
}

.boxLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 89px;
}

.yellowButton {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 9px;
  margin-right: 49px;
}
.buttonStyles {
  letter-spacing: 0.065em;
}
.conteinerTwo {
  height: 500px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

.active {
  color: var(--green-color);
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.displayNone {
  display: none;
}
/* #arrowGroupWrapper{
  animation-name: rotate;
  animation-delay: .5s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
  }
}
 */
.mobileButton {
  display: none;
}
@media (max-width: 1445px) {
  .wrapper {
    height: 583px;
  }
  .BpmCloud {
    width: 137px;
    height: 52px;
    margin-left: 74px;
    margin-right: 58px;
    margin-top: 11px;
  }
  .yellowButton {
    margin-right: 37px;
  }
  .container {
    height: 73px;
    margin-bottom: 30px;
  }
  .textBPM {
    font-size: 60px;
    line-height: 73px;
    margin-top: -7px;
  }
  .sabtext {
    font-size: 14px;
    line-height: 17px;
  }
  .boxLogo {
    margin-top: 0px;
    margin-bottom: 22px;
    height: auto;
    transform: scale(0.9);
  }
  .conteinerTwo {
    height: 443px;
    max-width: 912px;
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .buttonStyles {
    width: 213.75px;
    height: 39px;
    font-size: 14px;
  }
  .BpmCloud {
    width: 137.25px;
    height: 52.5px;
    margin-left: 36px;
  }
  .textBPM {
    width: 429px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }
  .sabtext {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .yellowButton {
    width: 45%;
    margin-top: 0px;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    height: 480px;
  }
  .conteinerTwo {
    height: 305px;
  }
  .BpmCloud {
    width: 104.25px;
    margin-left: 26px;
    margin-top: 2px;
    margin-right: 23px;
  }
  .buttonStyles {
    width: 160.23px;
    height: 29.24px;
    font-size: 10px;
    line-height: 13px;
  }
  .yellowButton {
    margin-right: 26px;
  }
  .textBPM {
    width: auto;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0px;
  }
  .boxLogo {
    margin-top: 0px;
    margin-bottom: 32px;
    height: auto;
  }
  .sabtext {
    font-size: 10.5px;
    line-height: 13px;
  }
}
@media (max-width: 950px) {
  .wrapper {
    height: auto;
  }
  .conteinerTwo {
    height: auto;
    padding-top: 48px;
    align-items: start;
    padding-left: 30px;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .container > a {
    z-index: 9999999;
  }
  .BpmCloud {
    width: 135px;
    margin-left: 31px;
    margin-top: 16px;
    margin-right: 23px;
  }
  .boxLogo {
    margin: 0;
    height: auto;
    margin-bottom: 64px;
  }
  .conteinerTwo {
    flex-direction: column;
    max-width: 768px;
    box-sizing: border-box;
  }
  .textBPM {
    font-size: 80px;
    line-height: 98px;
  }
  .sabtext {
    font-size: 18px;
    line-height: 22px;
  }
  .yellowButton {
    margin-right: 31px;
    align-items: flex-end;
  }
  .buttonStyles {
    width: 213px;
    height: 48px;
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 4px;
  }
}

@media (max-width: 750px) {
  .yellowButton {
    display: none;
  }
  .container {
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 90%;
    background-color: white;
    padding: 0 5%;
    position: fixed;
    z-index: 1000000;
  }
  .wrapper {
    background-color: #fbfafa;
  }
  .BpmCloud {
    width: 107px;
    margin: 0px;
  }
  .conteinerTwo {
    align-items: center;
    padding-left: 0px;
    padding-bottom: 53px;
    padding-top: 90px;
  }
  .box {
    width: auto;
  }
  .boxLogo {
    height: auto;
  }
  .textBPM {
    font-size: 37px;
    line-height: 45px;
  }
  .sabtext {
    font-size: 14px;
    line-height: 11px;
  }
  .container > a {
    background: white;
  }
}

@media (max-width: 560px) {
  .boxLogo {
    transform: scale(0.7);
  }
  .mobileButton {
    display: block;
    margin-top: 70px;
    margin-left: -22px;
  }
  .boxLogo {
    margin-bottom: 0px;
  }
  .conteinerTwo {
    padding-bottom: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 430px) {
  .boxLogo {
    transform: scale(0.6);
  }
  .sabtext {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .boxLogo {
    transform: scale(0.5);
  }
  .sabtext {
    font-size: 18px;
  }
}
