.boxRed {
  margin-top: 50px;
  margin-right: 10px;
  position: relative;
  min-width: 236px;
  height: 236px;
  overflow: hidden;
  background-color: var(--redBG-background);
}

@media(max-width:1445px){
  .boxRed{
    margin-right: 50px;
  }
}

@media(max-width:950px){
  .boxRed{
    margin-top: 62px;
    margin-left: 54px;
    margin-right: 0px;
    order: 1;
  }
}
@media(max-width:730px){
  .boxRed{
    margin-left: 20px;
  }
}
@media(max-width:580px){
  .boxRed{
    order: 2;
    transform: scale(.67);
    width: 236px;
    margin-top: 0px;
  }
}