.wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    h1{
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0.065em;
        text-align: left;
        color: #3C424A;
        margin-bottom: 42px;
    }

    h2{
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #309195;
        margin-bottom: 20px;
        margin-top: 50px;
    }
}


.post{
    max-width: 715px;

    li{
        margin-bottom: 15px;
        list-style: none;
        padding-left: 41px; 
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;

        &:nth-child(4n+1){
            background: url('../../images/ul1.svg') no-repeat 0 50%;
        }
        &:nth-child(4n+2){
            background: url('../../images/ul2.svg') no-repeat -3px 50%; 
        }
        &:nth-child(4n+3){
            background: url('../../images/ul3.svg') no-repeat 0 50%;
        }
        &:nth-child(4n+4){
            background: url('../../images/ul4.svg') no-repeat 0 50%;
        }
    }
    ul,ol{
        margin-bottom: 20px;
        padding-left: 0px;
    }
    p{
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }
}
.contentArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.postImage{
    max-width: 715px;
    height: 477px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}
.postInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
}
.dateInfo{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
    color: #6A7380;
    >div:last-child{
        color: #309195;
    }
}